{% extends "base.html" %}
{% load static i18n %}
	{% block main %}




<div class="modal fade" id="add_task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name1" />
          </div>
          <div class="mb-3">
            <label for="exampleSelect" class="col-form-label">Status</label>
        <select class="form-control" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
           </div>
           
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text1"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<!-- edit task -->
<div class="modal fade" id="edit_task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">New message</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name" />
          </div>
          <div class="mb-3">
            <label for="exampleSelect" class="col-form-label">Status</label>
        <select class="form-control" id="exampleSelect">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
           </div>
           
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>




    
<div class="jumbotron">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Display Database</h5>
       
    

<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-success badge rounded-pill badge-success"data-mdb-toggle="modal" data-mdb-target="#add_task" style="width: 100px;">Add New</button>
    </div>
    
</div>
<br>

<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                {% for support in supports %}
            <th>
                <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
                 <th>No</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Extension</th>
                    <th>Department</th>
                    <th>Summary</th>
                    <th>Category</th>
                    <th>Assigned</th>
                    <th>Solution</th>
                    <th>Status</th>
					{% if user.is_staff %}
                    <th>Actions</th>
					{% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                                <td>{{ support.id }}</td>
							 <td>{{ support.name }}</td>
							 <td>{{ support.date_created }}</td>
							 <td>{{ support.extension }}</td>
							 <td>{{ support.department }}</td>
							 <td>{{ support.summary }}</td>
							 <td>{{ support.category }}</td>
							 <td>{{ support.assigned }}</td>
							 <td>{{ support.solution }}</td>
							 <td>{{ support.status }}</td>
                {% if user.is_staff %}
                <td>
                    <a href="#add_task-{{forloop.counter}}" class="edit me-2" data-mdb-toggle="modal"><i class="fas fa-pencil-alt" data-toggle="tooltip"></i></a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="#edit_task-{{forloop.counter}}" class="delete badge-danger" data-mdb-toggle="modal"><i class="fas fa-trash-alt" data-toggle="tooltip" ></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                  <th>
                <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
                    <th>No</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Extension</th>
                    <th>Department</th>
                    <th>Summary</th>
                    <th>Category</th>
                    <th>Assigned</th>
                    <th>Solution</th>
                    <th>Status</th>
					{% if user.is_staff %}
                    <th>Actions</th>
					{% endif %}
            </tr>
        </tfoot>
    </table>

</div>
     </div>
</div>









<script type="text/javascript">
 $(document).ready(function(){
    // Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();
    
    // Select/Deselect checkboxes
    var checkbox = $('table tbody input[type="checkbox"]');
    $("#selectAll").click(function(){
        if(this.checked){
            checkbox.each(function(){
                this.checked = true;                        
            });
        } else{
            checkbox.each(function(){
                this.checked = false;                        
            });
        } 
    });
    checkbox.click(function(){
        if(!this.checked){
            $("#selectAll").prop("checked", false);
        }
    });
});



$(document).ready(function () {
    $('#example').DataTable();
});
</script>



{% endblock %}





