{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Profile page{% endblock %}

{% block main %}
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-info text-white">
                Customer Detail Page
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">Profile Information</span class="h4">
                            <a class="btn btn-info btn-sm float-right" href="{% url 'profile_update' %}">Edit</a>
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Username</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">First Name</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last Name</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td>{{user.profile.phone_number}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address</th>
                                <td>{{user.profile.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                 <div class="col-md-4">
                    <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="profile-image">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}