{% extends "base.html" %}
{% load static i18n %}
{% block main %}


<form action="" method=POST>
      {% csrf_token %}    
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
      <input type="submit" value="Submit" class="btn btn-secondary">

    </form>
    
<!--Login-->
</br>
<div class="container shadow p-4 mb-5 bg-body rounded" style="max-width:430px;">
  <div class="d-flex align-items-center mb-3 pb-1">
  <span class="h1 fw-bold mb-0">KNH</span></br>
</div>
  <form method="POST">
    {% csrf_token %}
      <div class="form-outline mb-4">
         <label class="form-label" for="form2Example1">username</label>
    <input type="text" id="form2Example1" class="form-control" />
   
  </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" />
    
  </div>


    <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="{% url 'password_reset' %}">Forgot password?</a>
    </div>
  </div>
<button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </form>
  <div class="text-center">
    <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
  </div>
</div>

{% endblock %}