<div id="content-wrapper" style="padding-top: 105px">
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Reports</a>
      </li>
    </ol>

    <!-- Icon Cards-->
    <div class="row">

      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Tickets by Priority</h5>
            <canvas id="myChart1" width="400" height="300"></canvas>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Tickets by Status</h5>
            <canvas id="myChart2" width="400" height="300"></canvas>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Include Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

<script>
  // Chart 1
  var ctx1 = document.getElementById('myChart1').getContext('2d');
  var myChart1 = new Chart(ctx1, {
    type: 'pie',
    data: {
      labels: [{% for priority in priority_list %} '{{ priority }}', {% endfor %}],
      datasets: [{
        label: 'Priority',
        data: [{% for number in priority_number %} '{{ number }}', {% endfor %}],
        backgroundColor: [
                                        'rgb(255, 99, 132)',
                                        'rgb(54, 162, 235)',
                                        'rgb(255, 205, 86)'
                                    ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'right',
        },
      },
    }
  });

  // Chart 2
  var ctx2 = document.getElementById('myChart2').getContext('2d');
  var myChart2 = new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: [{% for status in status_list %} '{{ status }}', {% endfor %}],
      datasets: [{
        label: 'Status',
        data: [{% for number in status_number %} '{{ number }}', {% endfor %}],
        backgroundColor: [
                                        'rgb(255, 99, 132)',
                                        'rgb(54, 162, 235)',
                                        'rgb(255, 205, 86)'
                                    ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'right',
        },
      },
    }
  });
</script>
