{% extends "base.html" %}
{% load static i18n %}
{% block title %}Pacflaw Task Monitor{% endblock %}
{% load crispy_forms_tags %}
	{% block main %}

 {% include 'crud/task_counts.html' %}



<div class="jumbotron">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Task Table</h3>
            <hr>
              <div class="row">
                  <div class="col-md-6">
                    <div class="dropdown">
                      <button
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Dropdown Task
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{% url 'task_pdf' %}">PDF</a></li>
                        <li><a class="dropdown-item" href="{% url 'task_csv' %}">CSV File</a></li>
                        <li><a class="dropdown-item" href="{% url 'task_text' %}">Text File</a></li>
                      </ul>
                    </div>
                  </div>
                    <div class="col-md-6 text-end">
                        <button class="btn btn-primary " data-mdb-toggle="modal" data-mdb-target="#add_task" role="button" >Add Task</button>
                    </div>
          </div>
            <br>
    <div class="table-responsive">
    <table id="task_table" class="table table-striped " style="width:100%">
        <thead>
            <tr>
                <th>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll"></label>
                    </span>
                </th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Extension</th>
                    <th>Department</th>
                    <th>Summary</th>
                    <th>Category</th>
                    <th>Assigned_to</th>
                    <th>Priority</th>
                    <th>Solution</th>
                    <th>Status</th>

                    <th>Actions</th>

            </tr>
        </thead>
        <tbody>
               {% for support in supports %}
            <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{ support.id }}</td>
							 <td>{{ support.name }}</td>
							 <td>{{ support.date_created }}</td>
							 <td>{{ support.extension }}</td>
							 <td>{{ support.department }}</td>
							 <td>{{ support.summary }}</td>
							 <td>{{ support.category }}</td>
               <td>{{ support.assigned_to }}</td>
							 <td>{{ support.priority }}</td>
							 <td>{{ support.solution }}</td>
							 <td>{{ support.status }}</td>
                                <td>
                                    <a href="{% url 'update' support.id %}" class="edit btn btn-info btn-sm mr-2" data-target="#modal" data-toggle="modal"><i class="fas fa-pencil-alt"></i></a>

                                    {% if user.is_superuser %}
                                    <a href="#delete_task-{{forloop.counter}}" class="btn btn-danger btn-sm mr-2 delete" data-mdb-toggle="modal" data-toggle="tooltip"><i class="fas fa-trash-alt"></i></a>

                                </td>
                 {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
     </div>
</div>



<!--      add modal HTML-->
<div class="modal fade" id="add_task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  action="{% url 'add_task' %}" method="post">
               {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="col-form-label">Name (User):</label>
            <input type="text" class="form-control" name="name" id="name" required />
          </div>
            <div class="mb-3">
             <label for="extension" class="col-form-label">Extension:</label>
            <input type="number" name="extension" class="form-control" id="extension" required />
          </div>
            <div class="mb-3">
            <label for="department" class="col-form-label">Department:</label>
            <input type="text" name="department" class="form-control" id="department" required />
          </div>
            <div class="mb-3">
            <label for="summary" class="col-form-label">Summary:</label>
            <textarea class="form-control" name="summary" id="summary" required></textarea>
          </div>

          <div class="mb-3">
            <label for="category" class="col-form-label">Category</label>
        <select class="form-select" name="category" id="category">
                     <option value="Network">Network</option>
  					<option value="Printer">Printer</option>
  					<option value="Computer">Computer</option>
					<option value="Software">Software</option>
					<option value="Data/Files">Data/Files</option>
        </select>
           </div>

            <div class="mb-3">
            <label for="priority" class="col-form-label">Priority:</label>
        <select class="form-select" name="priority" id="priority">
            <option value="High">High</option>
  					<option value="Medium">Medium</option>
  					<option value="Low">Low</option>
        </select>
           </div>

             <div class="mb-3">
            <label for="status" class="col-form-label">Status:</label>
        <select class="form-select" name="status" id="status">
                    <option value="New">New</option>
  					<option value="Completed">Completed</option>
  					<option value="Review">Review</option>
        </select>
           </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Add">
      </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- edit task -->



<!-- delete Modal -->
{% for support in supports %}
<div class="modal fade" id="delete_task-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete">Delete Task</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <strong>Are you sure you want to delete these Records?</strong>
          <p class="text-warning"><strong>{{support.name}}</strong> information will be deleted. This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <a href="/delete/{{support.id}}" type="submit" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}



{% include 'charts/chart.html' %}


{% endblock %}




