from django.db.models import Count
from .models import Task

# Count the number of tasks with the status "new"
new_tasks = Task.objects.filter(status='new').count()

# Count the number of tasks with the status "completed"
completed_tasks = Task.objects.filter(status='completed').count()

# Count the number of tasks with the status "review"
review_tasks = Task.objects.filter(status='review').count()

# Count the number of tasks with any status
all_tasks = Task.objects.all().count()

# Or 
all_tasks = Task.objects.aggregate(count=Count('status'))['count']

# Print the results
print("New tasks: ", new_tasks)
print("Completed tasks: ", completed_tasks)
print("Review tasks: ", review_tasks)
print("All tasks: ", all_tasks)



from django.contrib.auth import login, authenticate
from django.shortcuts import render, redirect
from .forms import RegisterForm
from .models import Profile

def register(request):
    if request.method == 'POST':
        form = RegisterForm(request.POST)
        if form.is_valid():
            user = form.save()
            phone_number = form.cleaned_data.get('phone_number')
            profile = Profile.objects.create(user=user, phone_number=phone_number)
            username = form.cleaned_data.get('username')
            raw_password = form.cleaned_data.get('password1')
            user = authenticate(username=username, password=raw_password)
            login(request, user)
            return redirect('home')
    else:
        form = RegisterForm()
    return render(request, 'register.html', {'form': form})
