{% extends 'base.html' %}
{% block title%} Change Password {% endblock %}
{% block main %}

	{% load crispy_forms_tags %}

	<!--Reset Password-->
<div class="container p-5" style="max-width:40rem;margin:2rem auto;" xmlns="http://www.w3.org/1999/html">
  	 	<h2 class="font-weight-bold mt-3">Change Password</h2>
		<hr>
		</br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary btn-block mb-4" type="submit">Change</button>
        </form>
  	</div>

{% endblock %}