{% extends 'base.html' %}
{% block title%} Reset Password {% endblock %}
{% block main %}

	{% load crispy_forms_tags %}

	<!--Reset Password-->
	<div class="container p-5" style="max-width:40rem;margin:2rem auto;">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? <br> Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn btn-primary btn-block mb-4" type="submit">Send email</button>
			
        </form>
  	</div>

{% endblock %}